@import "tailwindcss";

@source "../components/**/*.tsx";

@theme {
  --color-primary-300: #00b37e;
  --color-primary-500: #00875f;
  --color-primary-700: #015f43;
  --color-primary-900: #00291d;

  --text-xxs: 0.625rem;

  --line-height-shorter: 125%;
  --line-height-base: 160%;

  --radius-px: 1px;

  --animate-slide-in: slide-in 200ms ease-out;
  --animate-slide-out: slide-out 200ms ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@layer utilities {
  .grid-cols-steps {
    grid-template-columns: repeat(var(--steps-size), 1fr);
  }
}
