@import "tailwindcss";

@source "../../../../packages/react/src/components/**/*.tsx";

@import "../../../react/src/styles/globals.css" source(none);

@layer base {
  :root {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-gray-900);
    color: var(--color-gray-100);
    -webkit-font-smoothing: antialiased;
  }
}
